.seed-item{
  border: 1px solid #111111;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  margin: 5px auto;
  background-color: #EEEEEE;
  filter: drop-shadow(5px 3px);
  cursor: grab;

  .seed-content {
    display: flex;
    width: 100%;
    .album-art {
      height: 8vh;
      margin: 4px 4px;
      display: flex;
      img {
        border-radius: 10px;
        user-select: none;
        -webkit-user-drag: none;
      }
    }
    .seed-text {
      padding-left: 8px;
      margin: auto 0;
      flex-grow: 1;
      user-select: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
      text-align: left;


      .song-main {
        flex-grow: 1;
        font-size: 1.5em;
      }
      .song-secondary {
        flex-grow: 1;
        font-size: 1.0em;
      }
    }
  }
  .remove-seed {
    align-self: flex-end;
    flex-grow: 1;
    height: 100%;
  }
}
