.dashboard-container{
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 100%;
}
.upper-dash{
  height: 100%;
  /* margin-top: 5%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 7px solid rgb(0, 66, 0);
  border-radius: 60px;
  background-color: white;
}
.lower-dash{
  margin: 30px auto;
  justify-content: center;
}
.dash-item{
  padding: 10px 40px;
}